#footer {
    padding: 2rem 0;
    background-color: #484848;
    color: white;
}

#footer .fa {
    padding: 0 0.5rem;
}

@media (max-width: 768px)
{
    #footer {
        text-align: center;
    }
        
}