#header {
    padding: 5rem 0;
}

body, html {
    height: 100%;
}

@media (max-width: 768px)
{
    #header {
        text-align: center;
    }
    
}

#header {
	background: url("../img/stars-bg.jpg") center center no-repeat;
	background-size: cover;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

#header img {
    width: 80%;
    padding-bottom: 20px;
}

#header .header-right {
    padding: 30px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

#header .fa {
    margin: 5% 0;
}

#header a .fa {
    color: white;
}

#header a .fa:hover {
    color: #ccc;
}