#pricing {
    padding: 5rem 0;
    background-color: #f0f0f0;
}


#pricing .card {
    margin-top: 1.5ren;
}

#pricing .card .card-header {
    background-color: #6e6e6e;
    color: white;
}

#pricing .card .standard {
    background-color: red;
    padding: 1.5rem 0;
}

#pricing .card .card-header:hover {
    background-color: red;
    transition: all 0.5s ease-in-out;
}