
@media (max-width: 768px)
{
    #social {
        text-align: center;
    }
    
    #social hr {
        margin: 8% auto; /*used for align center*/
    }
    
}

#social {
    padding: 4.25rem 0;
}

#social .fa {
    color: red;
    border: 2px solid red;
    font-size: 1.5em;
    height: 60px;
    width: 60px;
    border-radius: 30%;
    text-align: center;
    padding: 30% 0;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

#social .fa:hover {
    color: white;
    background: red;
}


