@media (max-width: 768px)
{
    #who {
        text-align: center;
    }
    
    #who hr {
        margin: 8% auto; /*used for align center*/
    }
    
    #who img {
        margin-top: 15%;
    }
}


#who {
    padding: 5rem 0;
    background-color: #f6f6f6;
    
}

#who .btn-who {
    background-color: #be2813;
    color: white;
    width: 50%;
}

#who .btn-who:hover {
    background-color: transparent;
    color: #be2813;
    border: 1px solid #be2813;
    transition: all 0.5s ease-in-out;
}