@media (max-width: 768px)
{
    #work {
        text-align: center;
    }
    
    #work hr {
        margin: 8% auto; /*used for align center*/
    }
    
}

#work {
    padding: 4% 0;
    
}

.card {
    margin-bottom: 2rem;
}

#work .work-img {
    position: relative;
}

#work .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    background-image: url(../img/eye.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0;    
}

#work .img-overlay:hover {
    opacity: 1;    
    transition: all 0.5s ease-in-out;
}
